# Environment Variables Example File
DATABASE_URL=
SESSION_TOKEN=
SUPERUSER_EMAIL=
SUPERUSER_PASSWORD=

# Google Cloud Configuration
GOOGLE_API_KEY=
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=
GEMINI_MODEL=
